{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'SpotifyApp/css/styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'SpotifyApp/css/footer.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="main">
    <div class="container">
        <div class="main-container">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

{% include 'SpotifyApp/includes/footer_user.html' %}

{% block scripts %}
	
{% endblock %}
<script src="{% static 'SpotifyApp/js/index.js' %}"></script>
</body>
</html>